<h1>dashboard</h1>
<div class="container">
     <div>      
        Informações básicas:
        <button class="btn btn-primary" type="button" data-toggle="collapse" 
            data-target="#dropdownInfoBasica" aria-expanded="false" aria-controls="dropdownInfoBasica">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>

        <div class="collapse" id="dropdownInfoBasica">
            <div class="panel panel-default well">
                <div class="panel-heading">
                    <h3 class="panel-title">Informações básicas</h3>
                </div>
                <div class="panel-body">
                    <usuario-perfil></usuario-perfil>
                </div>
            </div>    
        </div>
     </div>

    <div>
        Informações físicas:
        <button class="btn btn-primary" type="button" data-toggle="collapse" 
            data-target="#dropdownInfoFisica" aria-expanded="false" aria-controls="dropdownInfoFisica">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>

        <div class="collapse" id="dropdownInfoFisica">
            <div class="panel panel-default well">
                <div class="panel-heading">
                    <h3 class="panel-title">Informações físicas</h3>
                </div>
                <div class="panel-body">
                   criar form para Informações fisicas
                </div>
            </div>    
        </div>        
    </div>
</div>