<form (ngSubmit)="onSubmit()" #usuarioForm="ngForm" >
    <h1>Fotos ....</h1>
    <div class="form-group">
        <label for="foto">File input</label>
        <input type="file" id="foto">
        <p class="help-block">Add fotos.</p>
    </div>
    <hr />    
  
  <input type="hidden" class="form-control" id="cdUsuario"
      [(ngModel)]="sujeito.usuario.cdUsuario" #cdUsuario="ngModel" >


  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" class="form-control" id="nome" placeholder="Nome"
      required [(ngModel)]="sujeito.nmSujeito" name="nmSujeito" #nmSujeito="ngModel">
  </div>
  <div [hidden]="nmSujeito.valid " class="alert alert-danger">
      O Campo Nome é obrigatório
  </div>

  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" placeholder="Email"
      required [(ngModel)]="sujeito.deEmail" name="email" #email="ngModel">
  </div>
  <div [hidden]="email.valid " class="alert alert-danger">
      O Campo Email é obrigatório
  </div>

  <div class="form-group">
    <label for="dtNascimento">Data de Nascimento</label>
    TODO
  </div>

    public flSexo: string;
    public nuTelefone: string;  


  <div class="form-group">
    <label for="aparencia">Aparência</label>
    <textarea class="form-control" rows="3"></textarea>
  </div>
  <div class="checkbox">
    <span>Serviços Prestado:</span>  
    <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1"> Serviço 1
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1"> Serviço 2
    </label>
    <label class="checkbox-inline">
        <input type="checkbox" id="inlineCheckbox1" value="option1"> Serviço 3
    </label>    
    ....
  </div>
  <div class="form-group">
    Testando componente municipio <br />
    <localizacao [(ngModel)]="sujeito.municipio"></localizacao>
  </div>
  <button type="submit" class="btn btn-success">Salvar Informações</button>
</form>