<div class="container">
    <h1>Cadastro de Usuário</h1>
    <form (ngSubmit)="onSubmit()" #usuarioForm="ngForm" >
    
        <div *ngIf="success" class="alert alert-success">
            {{success}}
        </div>
        <div *ngIf="error" class="alert alert-danger">
            {{error}}
        </div>
        
        <div class="form-group">
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login" required
                [(ngModel)]="usuario.deLogin" name="delogin" #name="ngModel" style="text-transform:uppercase">
        </div>
        <div [hidden]="name.valid || name.pristine" 
                class="alert alert-danger">
            O login é obrigatório
        </div>

        <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" required
                [(ngModel)]="usuario.deSenha" name="senha">
        </div>
        <div class="form-group">
            <label for="confirmasenha">Confrima Senha</label>
            <input type="password" class="form-control" id="confirmasenha" required
                [(ngModel)]="confirmasenha" name="confirmasenha">
        </div>
        <div [hidden]="(name.valid || name.pristine) && senhasIguais() " class="alert alert-danger">
            As senhas devem ser iguais
        </div>

        <div [hidden]="submitted">
            <button type="submit" class="btn btn-default"
                [disabled]="!usuarioForm.form.valid || !senhasIguais()">Enviar</button>
        </div>

        <div [hidden]="!submitted">
            <button type="submit" class="btn btn-default" [disabled]="true">Enviar</button>
        </div>
    </form>
</div>