<label for="estado">Unidade Federativa</label>
<select class="form-control">
    <option>--- Selecione ---</option>
    <option *ngFor="let estado of estados" [class.selected]="estado === selectedEstado" (click)="onSelect(estado)">
        {{estado.descricao}}        
    </option>    
</select>

<br />

<label for="cidade">Cidade</label>
<select class="form-control">
    <option>--- Selecione ---</option>
    <option *ngFor="let cidade of cidades">
        {{cidade.descricao}}
    </option>
</select>

<br />
{{estados}}
<br />
{{cidades}}