<label for="estado">Unidade Federativa</label>
<select class="form-control" [(ng-model)]="selectedEstado.codigo">
    <option>--- Selecione ---</option>
    <option *ngFor="let estado of estados" [ngValue]="estado.codigo" (click)="onSelect(estado)">
        {{estado.descricao}}        
    </option>    
</select>

<br />

<label for="cidade">Cidade</label>
<select class="form-control">
    <option>--- Selecione ---</option>
    <option *ngFor="let cidade of cidades">
        {{cidade.descricao}}
    </option>
</select>

<ul>
    <li *ngFor="let estado of estados" (click)="onSelect(estado)">
        {{estado.descricao}}        
    </li>
</ul>